USE [master]
GO
/****** Object:  Database [MNL_Water_Sampaloc]    Script Date: 15/12/2025 11:55:36 pm ******/
CREATE DATABASE [MNL_Water_Sampaloc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MNL_Water_Sampaloc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MNL_Water_Sampaloc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MNL_Water_Sampaloc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MNL_Water_Sampaloc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MNL_Water_Sampaloc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MNL_Water_Sampaloc]
GO
/****** Object:  User [jhaz]    Script Date: 15/12/2025 11:55:37 pm ******/
CREATE USER [jhaz] FOR LOGIN [Jhaz] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [claire]    Script Date: 15/12/2025 11:55:37 pm ******/
CREATE USER [claire] FOR LOGIN [Claire] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [jhaz]
GO
ALTER ROLE [db_datareader] ADD MEMBER [jhaz]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [jhaz]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [claire]
GO
ALTER ROLE [db_datareader] ADD MEMBER [claire]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [claire]
GO
/****** Object:  Table [dbo].[Advisories]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advisories](
	[advisory_id] [int] IDENTITY(1,1) NOT NULL,
	[advisory_type_id] [int] NOT NULL,
	[advisory_description] [text] NOT NULL,
	[start_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_date] [date] NOT NULL,
	[end_time] [time](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[street_id] [int] NOT NULL,
	[brgy_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[advisory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advisory_types]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advisory_types](
	[advisory_type_id] [int] IDENTITY(1,1) NOT NULL,
	[advisory_type] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[advisory_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Barangays]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barangays](
	[brgy_id] [int] IDENTITY(1,1) NOT NULL,
	[brgy_number] [varchar](55) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brgy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaint_duration]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint_duration](
	[complaint_duration_id] [int] IDENTITY(1,1) NOT NULL,
	[complaint_duration] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[complaint_duration_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaint_types]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint_types](
	[complaint_type_id] [int] IDENTITY(1,1) NOT NULL,
	[complaint_type] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[complaint_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[complaint_id] [int] IDENTITY(1,1) NOT NULL,
	[complaint_description] [text] NULL,
	[complaint_type] [int] NOT NULL,
	[complaint_duration] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[complaint_date] [datetime] NULL,
	[address_detail] [varchar](75) NOT NULL,
	[street_id] [int] NULL,
	[barangay_id] [int] NOT NULL,
	[contact_no] [bigint] NULL,
	[submitted_by] [int] NOT NULL,
	[supporting_img] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[complaint_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guest_emails]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest_emails](
	[guest_id] [int] IDENTITY(1,1) NOT NULL,
	[guest_email] [varchar](55) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestUsers_Address]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestUsers_Address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guest_id] [int] NOT NULL,
	[brgy_id] [int] NOT NULL,
	[street_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [text] NULL,
	[duration] [varchar](80) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[contact_no] [bigint] NULL,
	[issue_type] [varchar](100) NOT NULL,
	[street_id] [int] NOT NULL,
	[barangay_id] [int] NOT NULL,
	[submitted_by] [int] NOT NULL,
	[report_date] [datetime] NOT NULL,
	[supporting_img] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Streets]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Streets](
	[street_id] [int] IDENTITY(1,1) NOT NULL,
	[street_name] [varchar](75) NOT NULL,
	[brgy_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[street_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/12/2025 11:55:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[first_name] [varchar](75) NOT NULL,
	[last_name] [varchar](75) NOT NULL,
	[address] [varchar](75) NOT NULL,
	[street_id] [int] NOT NULL,
	[barangay_id] [int] NOT NULL,
	[user_email] [varchar](75) NOT NULL,
	[contact_no] [bigint] NULL,
	[password] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[user_photo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Advisories] ON 

INSERT [dbo].[Advisories] ([advisory_id], [advisory_type_id], [advisory_description], [start_date], [start_time], [end_date], [end_time], [status], [street_id], [brgy_id], [created_at]) VALUES (3017, 1004, N'Advance warning and context regarding potential risks, service disruptions, or safety concerns that may require immediate attention.', CAST(N'2025-12-11' AS Date), CAST(N'08:00:00' AS Time), CAST(N'2025-12-13' AS Date), CAST(N'21:00:00' AS Time), N'Resolved', 5, 64, CAST(N'2025-12-14T20:20:48.933' AS DateTime))
INSERT [dbo].[Advisories] ([advisory_id], [advisory_type_id], [advisory_description], [start_date], [start_time], [end_date], [end_time], [status], [street_id], [brgy_id], [created_at]) VALUES (3018, 1002, N'The scheduled maintenance will involve system checks, pipeline flushing, valve replacement, and routine inspection of pumping stations.', CAST(N'2025-12-14' AS Date), CAST(N'08:30:00' AS Time), CAST(N'2025-12-14' AS Date), CAST(N'22:30:00' AS Time), N'ongoing', 4, 8, CAST(N'2025-12-14T20:25:45.237' AS DateTime))
INSERT [dbo].[Advisories] ([advisory_id], [advisory_type_id], [advisory_description], [start_date], [start_time], [end_date], [end_time], [status], [street_id], [brgy_id], [created_at]) VALUES (3019, 1005, N'dedssc', CAST(N'2025-12-15' AS Date), CAST(N'19:37:36' AS Time), CAST(N'2025-12-16' AS Date), CAST(N'19:37:41' AS Time), N'ongoing', 4, 8, CAST(N'2025-12-15T19:38:06.723' AS DateTime))
SET IDENTITY_INSERT [dbo].[Advisories] OFF
GO
SET IDENTITY_INSERT [dbo].[Advisory_types] ON 

INSERT [dbo].[Advisory_types] ([advisory_type_id], [advisory_type]) VALUES (1002, N'Scheduled Maintenance')
INSERT [dbo].[Advisory_types] ([advisory_type_id], [advisory_type]) VALUES (1003, N'Service Interruption')
INSERT [dbo].[Advisory_types] ([advisory_type_id], [advisory_type]) VALUES (1004, N'Emergency Notice')
SET IDENTITY_INSERT [dbo].[Advisory_types] OFF
GO
SET IDENTITY_INSERT [dbo].[Barangays] ON 

INSERT [dbo].[Barangays] ([brgy_id], [brgy_number]) VALUES (1, N'BRGY-395')
INSERT [dbo].[Barangays] ([brgy_id], [brgy_number]) VALUES (2, N'BRGY-396')
INSERT [dbo].[Barangays] ([brgy_id], [brgy_number]) VALUES (3, N'BRGY-397')
GO
SET IDENTITY_INSERT [dbo].[Barangays] OFF
GO
SET IDENTITY_INSERT [dbo].[Complaint_duration] ON 

INSERT [dbo].[Complaint_duration] ([complaint_duration_id], [complaint_duration]) VALUES (1, N'Just today')
INSERT [dbo].[Complaint_duration] ([complaint_duration_id], [complaint_duration]) VALUES (2, N'Few days')
INSERT [dbo].[Complaint_duration] ([complaint_duration_id], [complaint_duration]) VALUES (3, N'About a week')
SET IDENTITY_INSERT [dbo].[Complaint_duration] OFF
GO
SET IDENTITY_INSERT [dbo].[Complaint_types] ON 

INSERT [dbo].[Complaint_types] ([complaint_type_id], [complaint_type]) VALUES (1, N'No water supply')
INSERT [dbo].[Complaint_types] ([complaint_type_id], [complaint_type]) VALUES (2, N'Low water pressure')
INSERT [dbo].[Complaint_types] ([complaint_type_id], [complaint_type]) VALUES (3, N'Water leakage')
SET IDENTITY_INSERT [dbo].[Complaint_types] OFF
GO
SET IDENTITY_INSERT [dbo].[Guest_emails] ON 

INSERT [dbo].[Guest_emails] ([guest_id], [guest_email]) VALUES (1016, N'demapitanjamie@gmail.com')
INSERT [dbo].[Guest_emails] ([guest_id], [guest_email]) VALUES (1015, N'jasminedemapitan212@gmail.com')
INSERT [dbo].[Guest_emails] ([guest_id], [guest_email]) VALUES (1, N'test@example.com')
SET IDENTITY_INSERT [dbo].[Guest_emails] OFF
GO
SET IDENTITY_INSERT [dbo].[GuestUsers_Address] ON 

INSERT [dbo].[GuestUsers_Address] ([id], [guest_id], [brgy_id], [street_id]) VALUES (1, 1015, 8, 4)
INSERT [dbo].[GuestUsers_Address] ([id], [guest_id], [brgy_id], [street_id]) VALUES (2, 1016, 64, 5)
SET IDENTITY_INSERT [dbo].[GuestUsers_Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'Account Holder')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'Barangay Admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (3, N'Central Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Streets] ON 

INSERT [dbo].[Streets] ([street_id], [street_name], [brgy_id]) VALUES (3, N'Reten', 7)
INSERT [dbo].[Streets] ([street_id], [street_name], [brgy_id]) VALUES (4, N'Dalupan', 8)
INSERT [dbo].[Streets] ([street_id], [street_name], [brgy_id]) VALUES (5, N'Padre Noval', 64)
SET IDENTITY_INSERT [dbo].[Streets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [role_id], [first_name], [last_name], [address], [street_id], [barangay_id], [user_email], [contact_no], [password], [created_at], [user_photo]) VALUES (1, 3, N'debby', N'bugger', N'Unit 5, Greenview Subdivision', 3, 7, N'mwsampaloc@gmail.com', 9123456789, N'$2y$10$BQ/xVjQicn.d..zh4bBkM.KssEwPFY8lWdzQZ3pJ9P9zfE6liPUqy', CAST(N'2025-12-14T03:08:36.680' AS DateTime), NULL)
INSERT [dbo].[Users] ([user_id], [role_id], [first_name], [last_name], [address], [street_id], [barangay_id], [user_email], [contact_no], [password], [created_at], [user_photo]) VALUES (2, 1, N'deby', N'me', N'room 3', 3, 7, N'debuggerme@gmail.com', NULL, N'$2y$10$b4pzeYHfOS3zhkRGJ4WG2uaNgrIu1E6DamNF9kqUpSG5.gy9rJ0gy', CAST(N'2025-12-14T21:53:06.410' AS DateTime), NULL)
INSERT [dbo].[Users] ([user_id], [role_id], [first_name], [last_name], [address], [street_id], [barangay_id], [user_email], [contact_no], [password], [created_at], [user_photo]) VALUES (3, 1, N'alexa', N'rivera', N'Room B', 4, 8, N'aalexxriverra@gmail.com', NULL, N'$2y$10$IFxDWb4.PTbdzfmEFayX.O1LGjAGIbXC1gh62TrSP46SOZdf9QPwu', CAST(N'2025-12-14T22:01:57.987' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [idx_advisory_brgy_id]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_advisory_brgy_id] ON [dbo].[Advisories]
(
	[brgy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_advisory_street_id]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_advisory_street_id] ON [dbo].[Advisories]
(
	[street_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_brgy_number]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_brgy_number] ON [dbo].[Barangays]
(
	[brgy_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_report_brgy_id]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_report_brgy_id] ON [dbo].[Complaints]
(
	[barangay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_report_street_id]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_report_street_id] ON [dbo].[Complaints]
(
	[street_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_report_submitted_by]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_report_submitted_by] ON [dbo].[Complaints]
(
	[submitted_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Guest_em__71B7D765BAB43437]    Script Date: 15/12/2025 11:55:38 pm ******/
ALTER TABLE [dbo].[Guest_emails] ADD UNIQUE NONCLUSTERED 
(
	[guest_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_report_brgy_id]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_report_brgy_id] ON [dbo].[Reports]
(
	[barangay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_report_street_id]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_report_street_id] ON [dbo].[Reports]
(
	[street_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_report_submitted_by]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_report_submitted_by] ON [dbo].[Reports]
(
	[submitted_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_brgy_id]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_brgy_id] ON [dbo].[Streets]
(
	[brgy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_street_name]    Script Date: 15/12/2025 11:55:38 pm ******/
CREATE NONCLUSTERED INDEX [idx_street_name] ON [dbo].[Streets]
(
	[street_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__B0FBA21249AD0B91]    Script Date: 15/12/2025 11:55:38 pm ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[user_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Advisories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT (getdate()) FOR [complaint_date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Advisories]  WITH CHECK ADD FOREIGN KEY([advisory_type_id])
REFERENCES [dbo].[Advisory_types] ([advisory_type_id])
GO
ALTER TABLE [dbo].[Advisories]  WITH CHECK ADD FOREIGN KEY([brgy_id])
REFERENCES [dbo].[Barangays] ([brgy_id])
GO
ALTER TABLE [dbo].[Advisories]  WITH CHECK ADD FOREIGN KEY([street_id])
REFERENCES [dbo].[Streets] ([street_id])
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD FOREIGN KEY([barangay_id])
REFERENCES [dbo].[Barangays] ([brgy_id])
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD FOREIGN KEY([complaint_type])
REFERENCES [dbo].[Complaint_types] ([complaint_type_id])
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD FOREIGN KEY([complaint_duration])
REFERENCES [dbo].[Complaint_duration] ([complaint_duration_id])
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD FOREIGN KEY([street_id])
REFERENCES [dbo].[Streets] ([street_id])
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD FOREIGN KEY([submitted_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[GuestUsers_Address]  WITH CHECK ADD FOREIGN KEY([brgy_id])
REFERENCES [dbo].[Barangays] ([brgy_id])
GO
ALTER TABLE [dbo].[GuestUsers_Address]  WITH CHECK ADD FOREIGN KEY([guest_id])
REFERENCES [dbo].[Guest_emails] ([guest_id])
GO
ALTER TABLE [dbo].[GuestUsers_Address]  WITH CHECK ADD FOREIGN KEY([street_id])
REFERENCES [dbo].[Streets] ([street_id])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([barangay_id])
REFERENCES [dbo].[Barangays] ([brgy_id])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([street_id])
REFERENCES [dbo].[Streets] ([street_id])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([submitted_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Streets]  WITH CHECK ADD FOREIGN KEY([brgy_id])
REFERENCES [dbo].[Barangays] ([brgy_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([barangay_id])
REFERENCES [dbo].[Barangays] ([brgy_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([street_id])
REFERENCES [dbo].[Streets] ([street_id])
GO
ALTER TABLE [dbo].[Advisories]  WITH CHECK ADD  CONSTRAINT [CHK_Advisories_Status] CHECK  (([status]='Resolved' OR [status]='Ongoing' OR [status]='Upcoming'))
GO
ALTER TABLE [dbo].[Advisories] CHECK CONSTRAINT [CHK_Advisories_Status]
GO
ALTER TABLE [dbo].[Advisories]  WITH CHECK ADD CHECK  (([status]='resolved' OR [status]='ongoing' OR [status]='upcoming'))
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD CHECK  (([status]='resolved' OR [status]='rejected' OR [status]='verified' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD CHECK  (([status]='resolved' OR [status]='rejected' OR [status]='verified' OR [status]='pending'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllGuestEmails]    Script Date: 15/12/2025 11:55:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Stored Procedure: Get All Guest Emails
-- Description: Retrieves all subscribed guest emails
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetAllGuestEmails]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        guest_id,
        guest_email
    FROM Guest_emails
    ORDER BY guest_id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertGuestEmail]    Script Date: 15/12/2025 11:55:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertGuestEmail]
    @Email VARCHAR(55),
    @StatusCode INT OUTPUT,
    @StatusMessage VARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validate email parameter
        IF @Email IS NULL OR @Email = ''
        BEGIN
            SET @StatusCode = 400;
            SET @StatusMessage = 'Email address is required';
            RETURN;
        END
        
        -- Trim and normalize email
        SET @Email = LTRIM(RTRIM(LOWER(@Email)));
        
        -- Insert new email (UNIQUE constraint will handle duplicates)
        INSERT INTO Guest_emails (guest_email) VALUES (@Email);
        
        -- Success response
        SET @StatusCode = 200;
        SET @StatusMessage = 'Email subscribed successfully';
        
    END TRY
    BEGIN CATCH
        -- Handle duplicate email error
        IF ERROR_NUMBER() = 2627 -- Unique constraint violation
        BEGIN
            SET @StatusCode = 409;
            SET @StatusMessage = 'Email is already subscribed';
        END
        ELSE
        BEGIN
            SET @StatusCode = 500;
            SET @StatusMessage = 'Subscription failed';
        END
    END CATCH
END
GO
USE [master]
GO
